<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <header>
        <h1>Главная страница</h1>
        <nav>
            <p><a href="/">Главная</a></p>
            <p><a href="/shop/">Магазин</a></p>
            <p><a href="/cart/">Корзина</a></p>
        </nav>
    </header>
    <main>
        <h2>Добро пожаловать на игровую платформу!</h2>
    </main>
</body>
</html>